# Telegram
BOT_TOKEN=8866873172:AAE4xRUMju9fyLsDEAtH4PnFmH_Hr-yvNXY
ADMIN_IDS=7139975148

# PostgreSQL
DATABASE_URL=sqlite+aiosqlite:///foodbot.db

# Оплата
CLICK_MERCHANT_ID=
CLICK_SERVICE_ID=
PAYME_MERCHANT_ID=
PAYME_SECRET_KEY=
UZUM_MERCHANT_ID=

# Бот
DELIVERY_COST=10000
FREE_DELIVERY_FROM=100000
SUPPORT_USERNAME=@support
